Cython>=0.29.14
imageio>=2.6.1
h5py>=2.10.0
opencv_python>=4.1.2.30
torchvision>=0.4.2
torch>=1.3.1
numpy>=1.18.1
scipy>=1.4.1
yacs>=0.1.6
matplotlib>=3.1.2
tqdm>=4.42.0
fastai>=1.0.60
ipdb>=0.13.2
Pillow>=7.1.2
scikit_learn>=0.22.2.post1
